
.wrapper {
    max-width: 80%;
    background-color: #E5E5E5;
   margin: auto;
}

a:hover{
    color: white;
}

a {
    text-decoration: none;
}

    h1{
        font-family: Frank Ruhl Libre;
        font-style: normal;
        font-weight: 900;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #000000;
    }


    header {
        background-color:  #C7DDEA;
        height: 340px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(Frame.png);
        background-repeat: no-repeat;
        background-position: right 100px bottom 2px;
                
    }

    /* nav{
        width: 1002px;
    } */
    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        font-family: Fira Sans;
        letter-spacing: -0.02em;
        color: #000000;
        opacity: 0.4;
    }

    nav ul li {
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

   .contact {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        background-color: #A9A19E;
        min-height: 500px;
        font-family: 'Fira Sans', sans-serif;
    
    }
  
       h2{
        font-family: Frank Ruhl Libre;
        font-style: normal;
        font-weight: 900;
        font-size: 45px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #FFFFFF;
        width: 60%;
        margin-left: 80px;
        margin-top: 100px;
    }
    .formulär {
        padding: 100px 20px 20px 20px;
        border-radius: 5px;
        color: white;
    }
    textarea {
        width: 400px;
    }
    
    #fname {
        
        height:30px;
        width: 400px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 7px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        font-family: 'Fira Sans', sans-serif;
    }
    
    #subject {
        height: 200px;
        width: 400px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 7px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 26px;
        font-family: 'Fira Sans', sans-serif;
    }
    
    button {
        border-radius: 100px;
        margin-left: 250px;
        height: 40px;
        width: 150px;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
        border: none;
        font-family: 'Fira Sans', sans-serif;
        
    }


.footermap {
    min-height: 407px;
    background-image: url(Rectangle.png);
    display: flex;
    justify-content: flex-start;


}
    .contactbox{
    
        width: 323px;
        height: 206px;
        margin-left: 60px;
        margin-top: 40px;
        background: #FAB131;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        align-self: flex-start;
        justify-self: flex-start;
    }

h3 {
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
}
       
.contacttext {
     color: rgba(255, 255, 255, 0.8);
     font-family: 'fira sans';
     font-size: 14px;
     margin-left: 20px;
     width: 40%;
     line-height: 24px;

}
.contacttext p {
    margin-top: 0px;
}

    .back-ground{
        height: 407px;
        background-color:#777574;
        
}



/* MEDIA QUERY  */

@media screen and (max-width: 900px) {

    header {
    
        background-image: none;
    }
    nav {
        display: none;
    }
    .contact {
        display: flex;
        flex-direction: column;
    }
}
