.wrapper {
  max-width: 80%;
  background-color: #e5e5e5;
  margin: auto;
}

/* HEADER */

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.box1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  background-color: #c7ddea;
  background-image: url(family.png);
  background-position: bottom right;
  background-size: auto 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 29% 10% 20%;
}

.p1 {
  align-self: center;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  max-width: 70%;
}
.p11 {
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  margin: 0px;
}
h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 45px;
  margin: 0px;
  line-height: 45px;
}

button {
  border-radius: 20px;
  font-size: 10px;
  width: 131px;
  height: 39px;
  font-weight: 700;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
  margin-top: 58px;
  border: none;
}

.box2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  background-color: #f17949;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2, .box3 {
    min-height: 300px;
}

.p2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Fira Sans", sans-serif;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
  letter-spacing: -0.02em;
  margin-bottom: 5px;
}

h2 {
  color: white;
  font-family: Frank Ruhl Libre;
  padding: 0px;
  margin: 0px;
  font-size: 32px;
}

.box3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  background-color: #fab131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAV */

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
  opacity: 0.4;
}

nav ul li {
  margin: 20px;
  margin-left: 40px;
}

a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}

/* MAIN PAGE */

.main-container {
  background-color: #a9a19e;
}

.upper-half {
  min-height: 500px;
}

.upup {
  display: flex;
}

.upper-left {
  width: 50%;
  margin-left: 0px;
  flex-direction: column;
  display: flex;
}

.upper-left h2 {
  margin-top: 60px;
  margin-left: 120px;
  color: white;
  font-size: 32px;
  font-weight: 900;
  line-height: 100%;
  font-family: "Frank Ruhl Libre", serif;
}

.button2 {
  margin-top: 40px;
  margin-left: 120px;
  font-weight: 700;
}

.upper-right {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 60px 60px 40px 0px;
}

.upper-right p {
  text-align: left;
  font-size: 12px;
  line-height: 24px;
  max-width: 280px;
  height: 237px;
  font-family: "Fira Sans", sans-serif;
}

.articles {
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: -150px;
}

.article {
  width: 25%;
  min-height: 308px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article p {
  margin-top: 0px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: bolder;
}

.article h3 {
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}

.person {
  width: 90%;
  height: 50%;
  border-radius: 4px;
  margin-top: -20px;
}

.one {
  background-color: #c7ddea;
  background-image: url(child.png);
  background-position: bottom;
  background-size: auto 90%;
  background-repeat: no-repeat;
}

.two {
  background-color: #fab131;
  background-image: url(adult.png);
  background-position: bottom;
  background-size: auto 90%;
  background-repeat: no-repeat;
}

.three {
  background-color: #f17949;
  background-image: url(old.png);
  background-position: bottom;
  background-size: auto 90%;
  background-repeat: no-repeat;
}

.person .two .person-image {
  height: 100%;
}

.lower-half {
  min-height: 680px;
  background-color: #fab131;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lower-half h1 {
  color: white;
  font-size: 45px;
  text-align: center;
  font-family: "Frank Ruhl Libre", serif;
}

.lower-half p {
  width: 70%;
  text-align: center;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  line-height: 20px;
}

.lower-container {
  margin-top: 200px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* FOOTER */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 7fr 7fr 1fr 7fr;
}

.item1 {
  grid-column: 1/1;
  background-color: #c7ddea;
  display: flex;
  justify-content: center;
  align-items: center;
}

article h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Frank Ruhl Libre", serif;
  font-weight: bold;
}

.item2 {
  grid-column: 2/2;
  background-color: #ffffff;
}

.option p {
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  margin-top: 25px;
  font-family: "Fira Sans", sans-serif;
}

h3 {
  /* align-self: flex-start;
    justify-self: flex-start; */
  font-size: 45px;
  color: rgba(0, 0, 0, 0.4);
  font-family: "Frank Ruhl Libre", serif;
  margin: 10px 0px 0px 10px;
}

/* .option {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.item3 {
  grid-column: 3/3;
  background-color: #ebebeb;
}

.item4 {
  grid-row: 2/2;
  background-color: #ffffff;
}

.item5 {
  grid-row: 2/3;
  background-color: #f17949;
}

.item6 {
  grid-row: 2/3;
  background-color: #ffffff;
}

.takemeup {
  grid-column: 1 / span 3;
  background-color: #a9a19e;
  display: flex;
  justify-content: center;
}

.bottom {
  grid-column: 1 / span 3;
  background-color: #777574;
}

.vector {
  position: absolute;
  margin-top: 5px;
}

/* MEDIA QUERY */
@media screen and (max-width: 1000px) {
  .box1 {
    background-image: none;
  }

  .takemeup,
  nav {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .header-container {
    display: block;
  }

  button {
    display: none;
  }
  .upper-half {
    display: flex;
    flex-direction: row;
  }
  
.upup, .articles {
  /* flex-direction: column; */
  display: block;
}

* {
  margin: 0;
}
}